body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top left, #94749e, #4a3eb6);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-card {
  background: rgba(98, 49, 189, 0.8);
  border: 1px solid rgb(69, 16, 131);
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(172, 127, 199, 0.2);
  padding: 30px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

::placeholder {
  color: #000000; 
  

.icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(209, 85, 133);
  background: #c95179;
  color: rgb(196, 92, 178);
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 0 10px rgb(231, 136, 189);
}

button {
  background: linear-gradient(90deg, rgb(189, 97, 161), rgb(180, 85, 121));
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #da6793;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #a84d85, rgb(173, 81, 132));
}

#errorMsg {
  color: #f66;
  margin-top: 10px;
  font-size: 0.9em;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 600px) {
  .login-card {
    padding: 20px;
  }
}
